<!-- This provides brochure of Syracuse University Food Services-->
<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>Brochure</title>
<style>
div.container {
    width: 100%;
    border: 1px solid gray;
}

header, footer {
    padding: 1em;
    color: white;
    background-color: #D44500;
    clear: left;
    text-align: center;
}

.w3-myfont {
    font-family: "Comic Sans MS", cursive, sans-serif;
}
</head>
<body>

<div class="w3-container w3-myfont">
<div class="container">
<header>
  <h1>Syracuse University</h1>
  <h3>Dining Workforce Schedule Management </h3>
 </header>
<object width="1200" height="1200" data="PDF/Brochure.pdf">
</object>
</div>
</body>
</html>