<!-- This page provides Syracuse University campus map-->
<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>Syracuse University Map</title>
<style>
div.container {
    width: 100%;
    border: 1px solid gray;
}

header, footer {
    padding: 1em;
    color: white;
    background-color: #D44500;
    clear: left;
    text-align: center;
}

* {
    box-sizing: border-box;
}


@media only screen and (max-width: 700px) {
    .responsive {
        width: 49.99999%;
        margin: 6px 0;
    }
}

@media only screen and (max-width: 500px) {
    .responsive {
        width: 100%;
    }
}

</style>
</head>
<body>

<div class="container">
<header>
  <h1>Syracuse University</h1>
  <h3>Dining Workforce Schedule Management </h3>
 </header>
 <object width="1200" height="1200" data="PDF/Maps.pdf">
</object>
</div>
</body>
</html>